# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle
android/local.properties
android/captures/

# iOS
ios/Pods/
ios/.symlinks/

# VS Code / IntelliJ
.vscode/
.idea/

# Environment / secrets
.env
*.key

.fake